.header-content
{
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  margin-top:3vw;
  background-image: url("../../../assets/images/header/main.png");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}
.header-content img {
  }
.header-logo
{
    width: 10vw;
    height: 10vw;
}
.image-container img {
  
}
.header-main-image
{



}
@media (min-width:910px) {
  .header-logo
  {
    margin-top: 0;
  }
}