@import "src/mixins.scss";

.div{
  header{
    font-family: Cy Grotesk Wide, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--authPages_passwordChangePage_ColorText);;
  }

  main{
    display: flex;
    margin: 1.25rem 0 1.875rem 0;

    .main_div{
      position: relative;
      width: 100%;

      label{
        display: block;
        background: linear-gradient(91.54deg, rgba(37, 0, 92, 0.7) 0%, rgba(151, 71, 255, 0.7) 100%);
        padding: 2px;
        border-radius: 10px;
        width: 100%;

        input{
          background: var(--authPages_commonElements_inputBackground);
          color: var(--authPages_commonElements_inputColor);
          border-radius: 8px;
          border: none;
          outline: none;
          width: 100%;
          padding: 12px 12px 12px 5px;
          font-family: Geometria, sans-serif;
          font-size: 0.75rem;
        }
      }
    }
  }
  footer{
    display: flex;
    section
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      > button
      {
        width: max-content;
      }
    }
    button:first-child{
      position: relative;
      width: 50%;
      height: 3rem;
      background: var(--authPages_commonElements_buttonBackground);
      color: var(--authPages_commonElements_buttonColor);
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-family: Geometria, sans-serif;
      font-size: 1rem;
      font-weight: 700;

      &:hover {
        background-color: var(--authPages_commonElements_buttonHoverBackground);
        color: var(--authPages_commonElements_buttonHoverColor);
      }

      &:active {
        background-color: var(--authPages_commonElements_buttonActiveBackground);
        color: var(--authPages_commonElements_buttonActiveColor);
      }

      &:active::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(16, 16, 16, 0.2);
        border-radius: 10px;
      }
    }

    button:last-child{
      border: none;
      background: none;
      cursor: pointer;
      margin-left: 1.56rem;
      font-family: Geometria, sans-serif;
      font-size: 1rem;
      font-weight: 700;
      color: var(--authPages_emailConfirmationPage_ColorText);

      &:hover {
        color: var(--authPages_emailConfirmationPage_ColorHoverText);
      }

      &:active {
        color: var(--authPages_emailConfirmationPage_ColorActiveText);
      }
    }
  }
}

.label_error{
  background: red !important;
}

.input_error{
  color: red !important;
  font-weight: 700 !important;
  &::placeholder{
    color: red !important;
  }
}

.error{
  color: red;
  font-family: Geometria, sans-serif;
  font-size: 0.75rem;
  margin: 0.625rem 0 0 0.3125rem !important;
}