.otp-area {
    width: 100%;
    margin: 20px 0 30px 0;
    display: flex;
}

.otp-area input {
    width: 28px;
    height: 28px;
    border: 2px solid gray;
    text-align: center;
    margin-right: -2px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Geometria, sans-serif;
}

.otp-area input:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.otp-area input:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}