.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h2{
    font-family: "Geometria", sans-serif;
    color: var(--colorVariation_black_white);
  }
  >svg {
    cursor: pointer;
    color: var(--colorVariation_black_white);

    &:hover{
      opacity: 0.75;
    }

    &:active{
      color: #fba500;
    }
  }
}

.div {
  position: relative;
  background-color: var(--colorVariation_white_302a37);
  border-radius: 16px;
  margin: 0.5rem;
  > img {
    width: 100%;
    height: auto;
  }
  > div {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    > div:first-child {
      margin-bottom: 1rem;
    }
    > div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .modal_button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 0.8rem;
  }
}

._div_horizont {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 16px;
  margin: 0.5rem;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;

    >div:first-child {
      margin-top: 1.4rem;
    }
    > div:last-child {
      margin-bottom: 1.4rem;
    }
  }
  > img {
    width: 150px !important;
    height: 150px !important;
    margin-right: 1rem !important;
    border-radius: 16px !important;
    object-fit: cover;
  }
  .modal_button {
    position: absolute;
    top: 0;
    right: 1rem;
  }
}


.div_group_title{
  color: var(--colorVariation_black_white);
  font-family: "Geometria", sans-serif;
}
