.toolbar-block-container, .toolbar-prof-block-container
{
    background-color: #8B98FF;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
}
.toolbar-generic-content
{
    padding: 16px;
    padding-left: 5vw;
    width: min-content;
}
.toolbar-block-container img
{
    width: 8vw;
}
.toolbar-main-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
}



.toolbar-fio-title, .toolbar-fio-second
{
    font-family: 'Geometria', sans-serif;
    font-weight: bold;
}
.toolbar-fio-second
{
    font-weight: normal;
}


.toolbar-profile-main-container
{
    display: flex;

}
.toolbar-list
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.toolbar-list > div
{
    border-radius: 20px;
    display: flex;
    padding: 15px;
    width: 100%;
}
.toolbar-list > div > span
{
    margin-left: 10px;
}
.toolbar-prof-block-container
{
    margin-top: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toolbar-profile-info-container
{
    margin-left: 15px;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
}
.toolbar-logo
{
    width: 100px;
}
.toolbar-profile-image {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflow content */
    background-color: red;
}
.toolbar-profile-image img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default image spacing */
}
.toolbar-tools-container
{
    display: flex;
    gap: 5px;
}