@import "src/mixins.scss";

.div {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 0.625rem;
  .header {
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
    margin-left: 1.25rem;

    .header_div {
      border: 1px solid var(--authPages_commonElements_lineColor);
      width: 100%;
    }
    .header_span {
      font-family: "Geometria", sans-serif;
      margin-left: 0.625rem;
      margin-right: 0.625rem;
      color: var(--authPages_commonElements_lineColorText);
    }
  }
  .main {
    display: flex;
    div:first-child {
      position: relative;
      width: 100%;
      margin: 0.3125rem 0.625rem 0.625rem 0.625rem;
      label {
        input {
          width: 14.4rem;
          padding-left: 1rem;
        }
      }
    }
    div:last-child {
      position: relative;
      width: 100%;
      margin: 0.3125rem 0.625rem 0.625rem 0.625rem;
      label {
        input {
          position: relative;
          width: 14.4rem;
          padding-left: 1rem;
        }

        span {
          position: absolute;
          top: 23px;
          right: 9px;
          transform: translateY(-50%);
          cursor: pointer;
          width: 24px;
          height: 24px;
          background-size: cover;
          @media (max-width: 768px) {
            top: calc(23px - 1px);
            right: 6px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  footer {
    section {
      display: flex;
      align-items: center;
    }
    nav {
      margin-left: 10px;
    }
    button {
      position: relative;
      background: var(--authPages_commonElements_buttonBackground);
      color: var(--authPages_commonElements_buttonColor);
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-family: Geometria, sans-serif;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.1em;
      padding: 1rem 4rem;
      margin: 0.625rem;

      &:hover {
        background-color: var(--authPages_commonElements_buttonHoverBackground);
        color: var(--authPages_commonElements_buttonHoverColor);
      }

      &:active {
        background-color: var(
          --authPages_commonElements_buttonActiveBackground
        );
        color: var(--authPages_commonElements_buttonActiveColor);
      }

      &:active::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(16, 16, 16, 0.2);
        border-radius: 10px;
      }
    }
    .div_link {
      text-align: left;
      margin-left: 0.94rem;
      a {
        text-decoration: none;
        color: var(--authPages_loginPage_linkColor);
        font-family: Geometria, sans-serif;
        font-size: 0.75rem;

        &:hover {
          color: var(--authPages_loginPage_linkHoverColor);
        }

        &:active {
          color: var(--authPages_loginPage_linkActiveColor);
        }
      }
    }
  }
}

.label {
  display: block;
  background: linear-gradient(
    91.54deg,
    rgba(37, 0, 92, 0.7) 0%,
    rgba(151, 71, 255, 0.7) 100%
  );
  padding: 2px;
  border-radius: 10px;
  width: 100%;

  input {
    background: var(--authPages_commonElements_inputBackground);
    color: var(--authPages_commonElements_inputColor);
    border-radius: 8px;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 12px 12px 5px;
    font-family: Geometria, sans-serif;
    font-size: 0.75rem;
  }
}

.label_error {
  background: red !important;
}

.input_error {
  color: red !important;
  font-weight: 700 !important;
  &::placeholder {
    color: red !important;
  }
}

.password_icon_default {
  background-image: url("../AuthHeaderForm/images/icon_default.svg");
}
.password_icon_active {
  background-image: url("../AuthHeaderForm/images/icon_active.png");
}

.error {
  color: red;
  font-family: Geometria, sans-serif;
  font-size: 0.75rem;
  margin: 0.625rem 0 0 0.3125rem !important;
}
