@import "src/mixins.scss";

.sub_div {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 1.25rem;
  z-index: 5;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
  margin: 0.9rem;
  > header {
    display: flex;
    justify-content: space-between;
    .header_div {
      display: flex;
      margin-bottom: 2rem;
      > div:first-child {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: white;
        > img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        font-size: 0.9vw;
        margin-left: 0.9rem;
        > span:first-child {
          font-family: "Geometria-Bold", sans-serif;
          font-size: 1.2vw;
        }
        > span:last-child {
          font-family: "Geometria", sans-serif;
          font-size: 1vw;
          color: gray;
        }
        > div {
          font-family: "Geometria-Bold", sans-serif;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
    .modal_button:hover {
      transform: scale(1.3);
      > div {
        background-color: #fba500;
      }
    }
  }
  .main {
    > div {
      width: 100%;
      max-width: 100%;
      > img {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
    }
    .feed_post_video {
      width: 100%;
    }
  }
  .footer {
    > p,
    > span {
      font-family: "Geometria", sans-serif;
    }
    > p {
      font-weight: bold;
      margin-bottom: 2rem;
    }
    .span {
      color: gray;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > button {
        border: 1px solid #b67afe;
        font-family: "Geometria", sans-serif;
        border-radius: 20px;
        background-color: transparent;
        color: #b67afe;
        padding: 0.5rem 3rem;
        @include hover-scale;
      }
      > div {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-right: 0.9rem;
        > img {
          @include hover-scale;
        }
      }
    }
  }
}
