.home-news-generic-container
{
    background-color: red;
    width: 30%;
    flex: 40%;
    margin-right: 3vw;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}