@import "src/mixins.scss";
.div_add {
  cursor: pointer;
}

.modal_item1 {
  display: flex;
  flex-direction: column;
  padding: 4rem 10rem;
  > div {
    > div {
      > h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #25005c;
        margin-bottom: 2rem;
      }
      > img {
        margin-bottom: 2rem;
      }
    }
  }

  > h4 {
    text-align: center;
    margin-bottom: 2rem;
  }
  > button {
    background-color: #25005c;
    color: #b67afe;
    cursor: pointer;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    @include hover-scale;
  }
}

.modal_item2 {
  > div:first-child {
    width: 60%;
    display: flex;
    justify-content: space-between;
    > div {
      cursor: pointer;
    }
  }
  > div:last-child {
    position: relative;
    width: 31.25rem;
    height: 30.25rem;
    background-image: url("../../../../assets/image/ImageModal2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    > div {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      padding: 0.5rem;
    }
  }
}

.modal_item3 {
  .modal_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    > div {
      cursor: pointer;
    }
  }
  .modal_item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      > img {
        width: 100%;
        height: 100%;
      }
    }
    > form {
      padding: 0 1rem;
      .user {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        > img {
          width: 25px;
          height: 25px;
          margin-right: 0.5rem;
        }
      }
      .title_input {
        position: relative;
        margin-bottom: 2rem;
        > img {
          position: absolute;
          bottom: 0.3rem;
          right: 0.3rem;
        }
        > input {
          width: 100%;
          height: 100%;
          border-width: 2px;
          border-style: solid;
          border-color: linear-gradient(to right, #6a07ffb2 70%, #9747ffb2 70%);
          border-radius: 6px;
          padding: 0.3rem;
        }
      }
      .all_input {
        .textarea_div {
          position: relative;
          margin-bottom: 1rem;
          > img {
            position: absolute;
            bottom: 0.6rem;
            right: 0.3rem;
          }
          > textarea {
            width: 304px;
            height: 190px;
            border-width: 2px;
            border-style: solid;
            border-color: linear-gradient(
              to right,
              #6a07ffb2 70%,
              #9747ffb2 70%
            );
            border-radius: 6px;
          }
        }
        > div {
          > input {
            width: 100%;
            border-width: 2px;
            border-style: solid;
            border-color: linear-gradient(
              to right,
              #6a07ffb2 70%,
              #9747ffb2 70%
            );
            border-radius: 6px;
            padding: 0.3rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
