.div {
  > h1 {
    margin-bottom: 2rem;
  }
  .sub_div1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    .sub_div1_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 20.31rem;
      background-color: var(--colorVariation_white_302a37);
      border-radius: 10px;
      padding: 1rem;
      > div:first-child {
        > div {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          > img {
            margin-right: 1rem;
          }
        }
      }
      > div:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .sub_div2 {
    > h1 {
      margin-bottom: 2rem;
    }
    > div {
      display: flex;
      flex-wrap: wrap;
      > div {
        > img {
          width: 320px;
          margin-right: 2rem;
        }
      }
    }
  }
}
