.div_navigation{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  > button{
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    border: none;
    font-family: "Geometria", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

  }
  >button:first-child{
    width: 11rem;
    background-color: lightgreen;
    color: green;
    &:hover{
      background-color: rgba(144, 238, 144, 0.8);
    }

  }
  >button:last-child{
    margin-left: 1rem;
    background-color: lightcoral;
    color:white;

    &:hover{
      background-color: rgba(240, 128, 128, 0.8);
    }
  }
}