@import "src/mixins.scss";

.div {
  color: #25005c;
  padding-right: 1rem;
  > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem 4rem;
    .li {
      display: flex;
      align-items: center;
      @include hover-scale;
    }
    ._li_active {
      border-bottom: 1px solid #fba500;
      color: #fba500;
    }
  }
}
