.div {
  color: #25005c;
  padding: 0 2rem;
  .sub_div1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding-top: 8rem;
    margin-bottom: 1rem;
    .avatar {
      position: absolute;
      top: -100px;
      left: 20%;
    }
    .user_name {
      > h1 {
        margin-bottom: 0.5rem;
      }
      > div {
        display: flex;
        justify-content: center;
        color: #9c9c9c;
        margin-bottom: 1rem;
      }
    }
    .folowers {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      > div {
        text-align: center;
        > h3 {
          font-weight: 400;
        }
      }
      > div:first-child {
        margin-right: 3rem;
      }
    }
    .folow_button {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      > button {
        background-color: #25005c;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 1rem 4rem;
        margin-right: 1rem;
      }
    }
  }
  .sub_div2 {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    > ul {
      > li {
        display: flex;
        align-items: center;
        > img {
          margin-right: 1rem;
        }
      }
    }
  }
  .gallery {
    background-color: white;
    padding: 1rem 2rem;
    > h2 {
      margin-bottom: 1rem;
    }
    > div {
      display: flex;
      justify-content: center;
    }
  }
}
