.auth-page-container
{
    display: flex;
}
@font-face {
    font-family: 'LogoFont';
    src: url('../../../../assets/fonts/logofont.otf') format('opentype');
  }
  @font-face {
    font-family: 'Geometria';
    src: url('../../../../assets/fonts/Geometria.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Geometria-Bold';
    src: url('../../../../assets/fonts/Geometria-Bold.ttf') format('truetype');
  }
  


.auth-main-container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    max-width: 1260px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.auth-top-content
{
    display: flex;
}
.auth-content-holder
{
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 100px;
}
.auth-title-holder
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.auth-title-text
{
    font-family: 'LogoFont', sans-serif;
    color: #25005C;
    font-size: 48px;

}
.auth-sub-title-text
{
    font-family: 'Geometria', sans-serif;
    color: gray;
    font-size: 10px;
}

.language-switch-container{
    position: absolute;
    right: 1.5vw;
    bottom: 1.2vw;
    display: flex;
    justify-content: center;
}

@media (max-width:900px) {
    .auth-page-container
    {
        flex-direction: column;
  }
}
