//.div {
//  width: 100%;
//  display: flex; // Flex для гибкости
//  align-items: center; // Выравнивание элементов по вертикали
//  justify-content: space-between; // Равномерное распределение по горизонтали
//  background-color: red;
//  > p {
//    color: green;
//    white-space: nowrap; // Текст остается в одной строке
//    overflow: hidden; // Обрезает текст, который выходит за границы
//    text-overflow: ellipsis; // Добавляет многоточие, если текст обрезается
//    width: 100%; // Гарантирует, что текст не выходит за границы контейнера
//  }
//}

.div{
  background-color: var(--mainPage_post_background);
  border-radius: 1rem;
  height: 100%;

  > div{
    border-radius: 1rem;
    background-color: var(--mainPage_post_background);
    padding: 0.8rem 0 0.8rem 0;
    height: 100%;
  }
}
