@import "src/mixins.scss";

section
{
  .comments_content {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    > header
    {
      display: flex;
    
      > img {
        margin-right: 1rem;
        border-radius: 50%;
        width: 60px;
        object-fit: cover;
        height: 60px;
      }
    }
    > main
    {
      display: flex;
      flex-direction: column;
      width: 100%;
      > span{
        font-family: "Geometria", sans-serif;
        font-weight: bold;
        font-size: 0.7rem;
        margin-top: 1rem;
        margin-left: 1rem;
        color: var(--mainPage_post_comments_userColorText);

        > span
        {
          margin-left: 8px;
          font-weight: normal;
          color: gray;
          display:inline-block;
          vertical-align: middle;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 15ch;
        }
      }
      > div {
        margin-left: 1rem;
        > span {
          font-size: 0.9rem;
          margin-bottom: 1rem;
          color: var(--mainPage_post_comments_colorText);
          font-family: "Geometria", sans-serif;
        }
        > div {
          display: flex;
          align-items: center;
          > a{
            margin-right: 0.5rem;
            color: var(--mainPage_post_comments_shAnswerColorText);
            font-family: "Geometria", sans-serif;
            > p:hover
            {
              cursor: pointer;
              opacity: 0.75;
            }
          }
          > a.answer{
            color: var(--mainPage_post_comments_answerColorText);
          }
          > svg {
            @include hover-scale;
            width: 18px;
            height: 18px;
            &:hover{
              opacity: 0.75;
            }
          }
        }
      }
    }
  }
  > footer
  {
    margin-left: 3rem;
  }
}