@import "src/mixins.scss";
.comments {
  position: relative;
  display: none;
  bottom: 3.75rem;
  width: 100%;
  max-height: 21rem;
  background-color: var(--mainPage_post_comments_background);
  border-radius: 1.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: auto;
  padding: 1rem 3rem;
  margin-top: 1rem;
  padding-top: 3rem;
  z-index: 1;
  .comments_contetn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    > img {
      margin-right: 1rem;
    }
    > div {
      padding-top: 1rem;
      > p {
        margin-bottom: 1rem;
      }
      > div {
        display: flex;
        align-items: center;
        > a {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .comments_add {
    display: flex;
    border: 2px solid #25005c;
    border-radius: 10px;
    padding: 0.5rem;
    > button {
      background-color: #fba500;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 0 1rem;
      @include hover-scale;
    }
    > input {
      width: 100%;
      border: none;
      outline: none;
    }
    > div {
      display: flex;
      > img {
        @include hover-scale;
      }
    }
  }
}

.comments_full {
  width: 100%;
  background-color: white;
  border-radius: 1.25rem;
  overflow: auto;
  padding: 1rem 3rem;
  margin-top: 0.9rem;
  .comments_contetn {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
    > img {
      margin: 1rem 1rem 0 0;
      margin-right: 1rem;
    }
    > div {
      padding-top: 1rem;
      > p {
        margin-bottom: 1rem;
      }
      > div {
        display: flex;
        align-items: center;
        > a {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .comments_add {
    display: flex;
    border: 2px solid #25005c;
    border-radius: 10px;
    padding: 0.5rem;
    > button {
      background-color: #fba500;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 0 1rem;
      @include hover-scale;
    }
    > input {
      width: 100%;
      border: none;
      outline: none;
    }
    > div {
      display: flex;
      > img {
        @include hover-scale;
      }
    }
  }
}

._comments_visible {
  display: block;
}

.reply{
  display: flex;
  align-items: center;
  span{
    color: var(--mainPage_post_comments_colorText);
  }
  svg{
    cursor: pointer;
    margin-left: 0.5rem;
    transform: scale(1.5);
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.8);
      opacity: 0.75;
    }
    svg:not(:hover) {
      transform: scale(1.5);
    }
  }
}
