.home-generic-container
{
    display: flex;
    max-width: 1460px;
    margin: 0 auto;
}
.home-main-container
{
    width: 100%;
}
.home-generic-content-holder
{
    display: flex;
}

/* @media (max-width: 1260px) {
 
} */
