.reg-reg-btn
{
    flex: 6;
    padding: 2px;
    -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.reg-login-btn
{
    flex: 4;
    margin-left: 15px;
    padding: 2px;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%);
}

.reg-buttons-container
{
    margin-top: 8%;
    display: flex;
    align-items: center;
}

.reg-buttons-container > button
{
    font-family: 'Geometria-Bold', sans-serif;
    height: 44px;
    background-color: #25005C;
    color: #8d54e2;
    border:0;
    cursor: pointer;
}

.reg-buttons-container > button:hover
{
    background-color: #512693;
}

.reg-or-block 
{
    display: flex;
    align-items: center;
}

.reg-or-block > div
{
    border: 1px solid #C5C5CA;
    width: 100%;
}

.reg-or-block > span
{
    font-family: 'Geometria', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.reg-fields-container
{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.reg-glogin-btn
{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.reg-fields-container > div > input[type="text"],
.reg-fields-container > input[type="text"],
.reg-fields-container > div > input[type="password"]
{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid purple;
    outline: 0;
    padding-left: 10px;
}

.reg-fio-container
{
    width: 100%;
    display: flex;
    gap: 20px;
}
