.switch{
    display: inline-block;
    position: relative;
    width: 43px;
    height: 18px;
}

.switch_input{
    height: 0;
    width: 0;
    opacity: 0;
}

.switch_slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;
    border: 1px solid black;
    transition: 0.4s;
}

.switch_slider::before{
    content: '';
    position: absolute;
    cursor: pointer;
    left: 1px;
    bottom: 1px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("./images/icon_sun.svg");
    background-size: cover;
    transition: 0.4s;
}

.switch_input:checked + .switch_slider{
    border-color: white;
}

.switch_input:checked + .switch_slider:before{
    transform: translateX(25px);
    background-image: url("./images/icon_moon.svg");
    border-color: white;
}