.div {
  width: 300px;
  height: max-content;
  background-color: white;
  border-radius: 20px;
.imagediv
{
  width: 100%;
  height: 150px;

  > img
  {
    object-fit: cover;
  }
}
  .subdiv {
    display: flex;
    flex-direction: column;
    height: max-content;


    .titlediv
    {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      >span
      {
        
        margin-left: 1rem;

      }

    }
    .button_section
    {
      > div
      {
padding: 2rem;
padding-bottom: 1rem;
padding-top: 0.5rem;
        >button
        {
          padding: 0.5rem;
        }
      }
    }
  }
}
