@import "src/mixins.scss";

.button {
  border: 1px solid #b67afe;
  font-family: "Geometria", sans-serif;
  border-radius: 20px;
  background-color: transparent;
  color: #b67afe;
  width: 100%;
  max-width: 8rem;
  padding: 0.4rem 1rem;
  @include hover-scale;
}
