.div {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  .ul {
    position: absolute;
    top: 20px;
    right: 40px;
    max-width: 11.3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    z-index: 3;
    > li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      > img {
        margin-right: 0.5rem;
      }
    }
  }
  ._ul_visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
  > header {
    display: flex;
    justify-content: space-between;
    .header_div {
      display: flex;
      > div:first-child {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        background-color: white;
        > img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      > div:last-child {
        margin-left: 15px;
        font-size: 0.9vw;
        display: flex;
        flex-direction: column;
        > span:first-child {
          font-family: "Geometria-Bold", sans-serif;
          font-size: 1.2vw;
        }
        > span:last-child {
          font-family: "Geometria", sans-serif;
          font-size: 1vw;
          color: gray;
        }
        > div {
          font-family: "Geometria-Bold", sans-serif;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
    .modal_button {
      cursor: pointer;
      padding: 0.5rem;
      transition: transform 0.3s ease;
      > div {
        width: 5px;
        height: 5px;
        background-color: #b67afe;
        border-radius: 50%;
        margin-bottom: 0.2rem;
      }
    }
    .modal_button:hover {
      transform: scale(1.3);
      > div {
        background-color: #fba500;
      }
    }
  }
  .main {
    margin: 15px;
    margin-left: 0;
    .feed_post_video {
      width: 100%;
    }
  }
  .footer {
    > p,
    > span {
      font-family: "Geometria", sans-serif;
    }
    > p {
      font-weight: bold;
    }
    .span {
      color: gray;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      > button {
        color: #b67afe;
        font-family: "Geometria", sans-serif;
        border: 1px solid #b67afe;
        border-radius: 20px;
        padding: 15px;
        width: 130px;
        background-color: transparent;
      }
      > div {
        display: flex;
        gap: 15px;
        margin-right: 15px;
      }
    }
  }
}
