.div {
  width: 100%;
  z-index: 1;
  .chat_div {
    position: relative;
    margin-bottom: 1rem;
    > img {
      margin-right: 1rem;
    }
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 1rem 2rem;
    .chat_div_item {
      display: flex;
      .chat_div_item1 {
        margin-right: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 1rem;
      }
      .chat_div_item2 {
        margin-right: 1rem;
        > h5 {
          margin-bottom: 1rem;
        }
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fba500;
          color: white;
          border-radius: 15rem;
          padding: 0 1rem;
        }
      }
      .chat_div_item3 {
        margin-right: 2rem;
      }
    }
    .modal_div {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}
