body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  max-width: 1440px;
  margin: 0 auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiCircularProgress-colorPrimary {
  color: rgb(114, 60, 200) !important;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  font-size: 0.625rem;
  line-height: 0.78125rem;
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.5125rem;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.5725;
}
h3 {
  font-size: 0.9375rem;
  line-height: 1.175rem;
}
h4 {
  font-size: 0.875rem;
  line-height: 1.100625rem;
}
h5 {
  font-size: 0.75rem;
  line-height: 0.94375rem;
}
p {
  font-size: 0.625rem;
  line-height: 0.78125rem;
}

/* * {
  outline: 1px solid green;
} */

/*ЭТО ПЕРЕОПРЕДЕЛЕНИЕ СТИЛЕЙ MUI ДЛЯ SWITCH ПЕРЕКЛЮЧАТЕЛЕЙ SETTING PAGE*/
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #25005c !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #d7b9fb !important;
}
