.div {
  > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > li {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      padding: 1rem 12rem 1rem 1rem;
      margin-bottom: 1rem;
      > img
      {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      > h2
      {
        margin-left: 1rem;
      }
      .switch {
        position: absolute;
        bottom: 1rem;
        left: 4rem;
      }
    }
  }
}
